*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
nav {
    padding: 1rem;
    background-color: #6ea8fe;
}
.nav-con {
    display: flex;
    justify-content: space-between;
}
.logo a {
    font-size: 2rem;
    color: aliceblue;
    text-decoration: none;
}
.Menu {
    display: flex;
    list-style: none;
}
.Menu li{
    margin: 0 2rem;
}
.Menu li a {
    font-size: 1rem;
    color: aliceblue;
    text-decoration: none;
}
.home-con {
    width: 100vw;
    display: flex;
    margin: 0 auto;
}
.sideber {
    width: 30%;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 1rem;
    flex-direction: column;
    background-color: #9ebfef;
    text-align: center;
}
.footer-top {
    margin-top: 2rem;
    padding: 3rem;
    background-color: cornflowerblue;
    color: aliceblue;
}
.footer-top-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
}
.footer-top-item-con {
    display: flex;
    margin: 1rem 0;
}
.footer-top-item:nth-child(2) h4 {
    margin-bottom: 1rem;
    text-decoration: none;
    color: aliceblue;
    transition: color 0.3s ease;
}
.link-container a {
    text-decoration: none;
    color: aliceblue; 
    transition: color 0.3s ease;
}

.link-container a:hover {
    color: #084298;
}